@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lora:ital,wght@0,600;1,400&family=Merriweather:ital,wght@1,900&family=Outfit:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lora:ital,wght@0,600;1,400&family=Merriweather:ital,wght@1,900&family=Oswald:wght@500&display=swap");
.carts_page {
  margin-top: 80px;
}

.carts_page .main_page {
  margin-top: 80px;
  margin-bottom: 30px;
}

.carts_page .main_page h2 {
  text-align: center;
  font-weight: 1000;
  color: #3e4a61;
  font-family: "Merriweather", serif;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.carts_page .main_page .carts_header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.carts_page .main_page .carts_header .header_left .carts_btn {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  background: none;
  font-weight: bold;
}

.carts_page .main_page .carts_header .header_left .carts_btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  z-index: -2;
}

.carts_page .main_page .carts_header .header_left .carts_btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

.carts_page .main_page .carts_header .header_left .carts_btn:hover {
  color: #fff;
  overflow: hidden;
}

.carts_page .main_page .carts_header .header_left .carts_btn:hover:before {
  width: 100%;
}

.carts_page .main_page .carts_header .header_left .carts_btn .left_arrow {
  margin-top: -3px;
}

.carts_page .main_page .carts_header .header_left .carts_btn:hover .left_arrow {
  margin-top: -3px;
  -webkit-animation: slide-left 0.5s both;
          animation: slide-left 0.5s both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

.carts_page .main_page .carts_header .header_middle {
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.carts_page .main_page .carts_header .header_right {
  margin-left: 40%;
}

.carts_page .main_page .carts_header .header_right .carts_btn {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  background: none;
  font-weight: bold;
}

.carts_page .main_page .carts_header .header_right .carts_btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  z-index: -2;
}

.carts_page .main_page .carts_header .header_right .carts_btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

.carts_page .main_page .carts_header .header_right .carts_btn:hover {
  color: #fff;
  overflow: hidden;
}

.carts_page .main_page .carts_header .header_right .carts_btn:hover:before {
  width: 100%;
}

.carts_page .main_page .carts_header .header_right .carts_btn .right_arrow {
  margin-top: -3px;
}

.carts_page .main_page .carts_header .header_right .carts_btn:hover .right_arrow {
  margin-top: -3px;
  -webkit-animation: slide-left2 0.5s both;
          animation: slide-left2 0.5s both;
}

@-webkit-keyframes slide-left2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes slide-left2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.carts_page .main_page .carts .single_cart_header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  justify-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

@media screen and (max-width: 576px) {
  .carts_page .main_page .carts_header .header_left .carts_btn {
    padding: 3px 7px;
    font-weight: 400;
  }
  .carts_page .main_page .carts_header .header_left .carts_btn .left_arrow {
    display: none;
  }
  .carts_page .main_page .carts_header .header_right {
    margin-left: 0px;
  }
  .carts_page .main_page .carts_header .header_right .carts_btn {
    padding: 3px 7px;
    font-weight: 400;
  }
  .carts_page .main_page .carts_header .header_right .carts_btn .right_arrow {
    display: none;
  }
  .carts_page .main_page .carts .single_cart_header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 20% 20% 20%;
        grid-template-columns: 30% 20% 20% 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=carts.css.map */