$color: #0cf;
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lora:ital,wght@0,600;1,400&family=Merriweather:ital,wght@1,900&family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lora:ital,wght@0,600;1,400&family=Merriweather:ital,wght@1,900&family=Outfit:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,500&display=swap");

.signup_sec {
  width: 100%;
  background-image: linear-gradient(
    109.6deg,
    rgba(45, 116, 213, 1) 11.2%,
    rgba(121, 137, 212, 1) 91.2%
  );
  height: 700px;

  .origin_signup {
    padding-top: 100px;
    .main_signup {
      width: 90%;
      height: 95vh;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      grid-template-columns: 45% 55%;
      justify-content: center;
      //   align-items: center;
      background-color: white;
      border-radius: 15px;
      overflow: hidden;

      .reg_left {
        background-color: #e2f3f5;
        img {
          width: 100%;
          height: auto;
          margin-top: 110px;
        }
      }

      .reg_right {
        padding: 10px 40px;
        h4 {
          text-align: center;
          margin: -2px 0px 25px;

          font-weight: 1000;
          color: #3e4a61;
          font-family: "Merriweather", serif;
        }

        .reg_form {
          margin-top: -5px;
          .submit_btn {
            margin: 20px 0px 15px;
            display: inline-block;
            padding: 8px 25px;
            border-radius: 20px;
            color: #fff;
            transition: all 0.3s;
            position: relative;
            overflow: hidden;
            z-index: 1;
            border: none;
            background: none;
            font-weight: bold;
            margin-left: 37%;
            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: $color;

              z-index: -2;
            }
            &:before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0%;
              height: 100%;
              background-color: darken($color, 15%);
              transition: all 0.3s;
              z-index: -1;
            }
            &:hover {
              color: #fff;
              overflow: hidden;

              &:before {
                width: 100%;
              }
            }
          }
          .link {
            // text-align: center;
            margin-top: -12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .signup_sec {
    .origin_signup {
      padding-top: 100px;
      .main_signup {
        display: grid;
        grid-template-columns: 100%;
        .reg_left {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .signup_sec {
    .origin_signup {
      padding-top: 100px;
      .main_signup {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .signup_sec {
    .origin_signup {
      .main_signup {
        height: 560px;
        .reg_right {
          padding: 10px 20px;

          .reg_form {
            margin-top: -5px;
            .submit_btn {
              margin-left: 33%;
            }
          }
        }
      }
    }
  }
}
