.card_detail {
  //   margin: 60px 0px;
  margin-top: 60px;
  margin-bottom: 60px;
  .cards {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 20px;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .card_detail {
    margin-top: -120px;
    .cards {
      display: grid;
      grid-template-columns: 49% 49%;
      grid-gap: 25px;
    }
  }
}

@media screen and (max-width: 576px) {
  .card_detail {
    margin-top: -230px;
    .cards {
      display: grid;
      grid-template-columns: 90%;
      grid-gap: 25px;
    }
  }
}

@media screen and (max-width: 400px) {
  .card_detail {
    margin-top: -370px;
    .cards {
      display: grid;
      grid-template-columns: 90%;
      grid-gap: 25px;
    }
  }
}
